.label {
  font-weight: 700;

  margin-top: calc(5 * var(--gridSize));
  margin-bottom: var(--gridSize);
}

.section {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.input {
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 443px) {
    flex-direction: column;
    gap: calc(4 * var(--gridSize));
  }
}

.buttons {
  @media (max-width: 443px) {
    display: flex;
    flex-direction: column;
    gap: calc(4 * var(--gridSize));

    width: 100%;
  }
}

.saveButton {
  margin-left: calc(var(--gridSize) * 4);

  @media (max-width: 443px) {
    margin-left: 0;
  }
}

.contentContainer {
  padding: 0 calc(6 * var(--gridSize));
}

.inputWrapper {
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: var(--gridSize);
}

.linkButton {
  max-height: calc(6 * var(--gridSize));
}

.linkButton > span {
  height: calc(6 * var(--gridSize));
}
