.container {
  display: flex;
  align-items: center;

  width: 100%;
}

.buttonContainer {
  font-size: var(--typography-M-fontSize);
  font-weight: 400;
  line-height: var(--typography-M-lineHeight);

  display: flex;
  align-items: flex-start;
  gap: var(--gridSize);

  width: 100%;

  margin: calc(1.5 * var(--gridSize)) 0;

  color: var(--color-typography-primary);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;

  position: relative;

  display: block;
  place-content: center;

  width: calc(3 * var(--gridSize));
  min-width: calc(3 * var(--gridSize));
  height: calc(3 * var(--gridSize));

  margin: 0;
  margin-top: calc(0.5 * var(--gridSize));

  border: 1px solid var(--color-typography-tertiary);
  border-radius: 50%;

  background-color: #fff;
}

input[type="radio"]::before {
  width: calc(1.5 * var(--gridSize));
  height: calc(1.5 * var(--gridSize));

  content: "";
  transform: scale(0);

  border-radius: 50%;
  box-shadow: inset calc(2 * var(--gridSize)) calc(2 * var(--gridSize)) var(--color-typography-tertiary);
}

input[type="radio"]:checked::before {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(40%, 40%) scale(1);
}

.buttonContainer + .buttonContainer {
  margin-top: calc(2 * var(--gridSize));
}

input[type="radio"]:focus {
  outline: 2px auto rgba(148, 236, 255, 1);
  outline-offset: calc(1 * var(--gridSize));
  box-shadow: none;
}

.error input[type="radio"] {
  border: 1px solid var(--color-typography-error);
}

.error input[type="radio"]::before {
  box-shadow: inset calc(2 * var(--gridSize)) calc(2 * var(--gridSize))  var(--color-typography-error);
}

input[type="radio"]:disabled {
  border: 1px solid var(--color-checkbox-icon_disabled);
}

input[type="radio"]:disabled + label {
  color: var(--color-checkbox-icon_disabled);
}

input[type="radio"][disabled]::before {
  box-shadow: inset calc(2 * var(--gridSize)) calc(2 * var(--gridSize)) var(--color-checkbox-icon_disabled);
}

.angleRightBtn {
  width: calc(6 * var(--gridSize));
  min-width: calc(6 * var(--gridSize));
  height: calc(6 * var(--gridSize));
}
