.radio {
  display: flex;
  align-items: flex-start;
  gap: calc(2 * var(--gridSize));
}

.radio label {
  font-size: var(--typography-M-fontSize);
  font-weight: 400;
  line-height: var(--typography-M-lineHeight);

  color: var(--color-typography-primary);
}

.radio input[type="radio"] {
  --radio-color: var(--color-typography-primary);

  -webkit-appearance: none;
  appearance: none;

  position: relative;

  display: block;
  place-content: center;

  width: calc(3 * var(--gridSize));
  min-width: calc(3 * var(--gridSize));
  height: calc(3 * var(--gridSize));

  margin: 0;
  margin-top: calc(0.5 * var(--gridSize));

  border: 1px solid var(--radio-color);
  border-radius: 50%;

  background-color: #fff;
}

.radio input[type="radio"]::after {
  width: calc(1.5 * var(--gridSize));
  height: calc(1.5 * var(--gridSize));

  content: "";
  transform: scale(0);

  border-radius: 50%;
  background: var(--radio-color);
}

.radio input[type="radio"]:checked::after {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(3.5px, 3.5px) scale(1);
}

.radio input[type="radio"]:focus,
.radio input[type="radio"]:active,
.radio input[type="radio"]:target {
  outline: 2px solid var(--color-border-active);
  outline-offset: calc(var(--gridSize) - 1px);
  box-shadow: none;
}

.radio input[type="radio"]:disabled {
  --radio-color: var(--color-checkbox-icon_disabled);
}

.radio input[type="radio"]:disabled + label {
  color: var(--color-checkbox-icon_disabled);
}

.radio.error input[type="radio"] {
  --radio-color: var(--color-typography-error);
}
