/* stylelint-disable a11y/no-outline-none */
.textarea {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(60 * var(--gridSize));
  height: auto;
  min-height: calc(21 * var(--gridSize));

  padding: var(--gridSize) calc(2 * var(--gridSize));

  border: 1px solid var(--color-border-primary);
  border-radius: calc(0.5 * var(--gridSize));

  &::placeholder {
    color: var(--color-typography-tertiary);
  }

  &[aria-disabled] {
    color: var(--color-typography-disabled);
    background-color: var(--color-layout-tertiary-background);

    &::placeholder {
      color: var(--color-typography-disabled);
    }
  }
}

.defaultTheme {
  composes: textarea;

  border: 1px solid var(--color-border-primary);
  border-radius: calc(0.5 * var(--gridSize));
  box-shadow: none;

  &[aria-invalid] {
    border: 1px solid var(--color-border-error);
  }

  &:active,
  &:focus {
    outline: 2px solid var(--color-border-active);
    outline-width: 2px;
    outline-offset: -2px;

    &[aria-invalid] {
      outline-color: var(--color-border-error);
    }
  }
}

.underlineTheme {
  composes: textarea;

  border: none;
  border-bottom: 1px solid var(--color-border-primary);
  border-radius: 0;
  box-shadow: none;

  &::placeholder {
    color: var(--color-typography-tertiary);
  }

  &[aria-invalid] {
    border-color: var(--color-border-error);
  }

  &:active,
  &:focus {
    padding-bottom: calc(var(--gridSize) - 1px);

    border-bottom: 2px solid var(--color-border-active);
    outline: none;

    &[aria-invalid] {
      border-color: var(--color-border-error);
    }
  }
}

.defaultTheme:active input,
.defaultTheme:focus-within input,
.underlineTheme:active input,
.underlineTheme:focus-within input {
  outline: none;
}
