.content {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;

  flex-direction: column;

  max-width: 100%;

  padding: calc(6 * var(--gridSize)) calc(6 * var(--gridSize)) 0;
  flex: 1 1;

  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 443px) {
    padding: calc(4 * var(--gridSize)) calc(4 * var(--gridSize)) 0;
  }
}
