/* stylelint-disable a11y/no-outline-none */
.container {
  position: relative;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  width: calc(60 * var(--gridSize));

  height: calc(6 * var(--gridSize));
  justify-content: space-between;
  align-items: center;
}

.defaultTheme {
  composes: container;

  border: 1px solid var(--color-border-primary);
  border-radius: calc(0.5 * var(--gridSize));
  background-color: var(--color-layout-primary-background);
}

.container > button {
  width: auto;
  height: auto;
  padding: 0 calc(2 * var(--gridSize));
}

.underlineTheme {
  composes: container;

  border: none;
  border-bottom: 1px solid var(--color-border-primary);
  border-radius: 0;
  box-shadow: none;
}

.isDisabled {
  background-color: var(--color-layout-tertiary-background);
}

.error {
  border-color: var(--color-border-error);
}

.input {
  overflow: hidden;

  width: 100%;
  padding: var(--gridSize) calc(2 * var(--gridSize));

  white-space: nowrap;
  text-overflow: ellipsis;

  border: transparent;
  border-radius: calc(0.5 * var(--gridSize));

  &:active,
  &:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-typography-tertiary);
  }

  &[aria-disabled] {
    color: var(--color-typography-disabled);
    background-color: var(--color-layout-tertiary-background);

    &:focus,
    &:active {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: var(--color-typography-disabled);
    }
  }
}

.defaultTheme .input,
.underlineTheme .input {
  background-color: transparent;
}

.underlineTheme .input {
  padding: var(--gridSize) calc(2 * var(--gridSize));
  padding-bottom: calc(var(--gridSize) - 1px);

  border-radius: 0;
}

.defaultTheme:focus-within,
.defaultTheme.isFocused {
  outline: 2px solid var(--color-border-active);
  outline-width: 2px;
  outline-offset: -2px;
}

.defaultTheme.error:focus-within,
.defaultTheme.isFocused.error {
  outline-color: var(--color-border-error);
}

.defaultTheme:focus-within > .input,
.defaultTheme.isFocused > .input {
  outline: none;
}

.underlineTheme:focus-within,
.underlineTheme.isFocused {
  border-bottom: 2px solid var(--color-border-active);
  outline: none;
}

.underlineTheme:focus-within > .input,
.underlineTheme.isFocused > .input {
  padding-bottom: calc(var(--gridSize) - 2px);

  outline: none;
}

.underlineTheme.error:focus-within,
.underlineTheme.isFocused.error {
  border-bottom: 2px solid var(--color-border-error);
  outline: none;
}
