.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: calc(6 * var(--gridSize)) calc(6 * var(--gridSize)) 0;

  @media (max-width: 443px) {
    padding: calc(4 * var(--gridSize)) calc(4 * var(--gridSize)) 0;
  }
}

.headerInfo {
  display: flex;
}

.partOfContent {
  padding: 0 0 calc(6 * var(--gridSize));

  @media (max-width: 443px) {
    padding: 0 0 calc(4 * var(--gridSize));
  }
}

.title {
  font-size: var(--typography-XL-fontSize);
  line-height: var(--typography-XL-lineHeight);

  @media (max-width: 1023px) {
    padding-right: calc(2 * var(--gridSize));
  }
}

.description {
  font-size: var(--typography-M-fontSize);
  line-height: var(--typography-M-lineHeight);

  padding-top: var(--gridSize);
}

.header.confirmation .title {
  font-size: var(--typography-XL-fontSize);
  line-height: var(--typography-XL-lineHeight);
}

.iconBtn {
  display: flex;

  width: calc(6 * var(--gridSize));
  height: calc(6 * var(--gridSize));
}
