.popper {
  display: flex;
  flex-direction: row;

  color: var(--color-toggletip);

  background-color: var(--color-toggletip-background);
  align-items: flex-start;
}

.arrow {
  &::before {
    content: "";
  }
}

.content {
  max-width: calc(76 * var(--gridSize));

  padding: calc(3 * var(--gridSize));

  @media (max-width: 1023px) {
    max-width: calc(46 * var(--gridSize));
  }
}

.primary {
  color: var(--color-layout-primary-background);
  background-color: var(--color-layout-secondaryAlt-background);

  & .arrow::before {
    background-color: var(--color-layout-secondaryAlt-background);
  }
}

.secondary {
  color: var(--color-typography-tertiary);
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-layout-primary-background);

  & .arrow {
    &::before {
      background-color: var(--color-layout-primary-background);
    }

    &[data-placement*="right"]::before {
      border-top: 1px solid var(--color-border-primary);
      border-left: 1px solid var(--color-border-primary);
    }

    &[data-placement*="bottom"]::before {
      border-top: 1px solid var(--color-border-primary);
      border-right: 1px solid var(--color-border-primary);
    }

    &[data-placement*="left"]::before {
      border-right: 1px solid var(--color-border-primary);
      border-bottom: 1px solid var(--color-border-primary);
    }

    &[data-placement*="top"]::before {
      border-bottom: 1px solid var(--color-border-primary);
      border-left: 1px solid var(--color-border-primary);
    }
  }
}

.closeButton {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  flex: 0 0 calc(6 * var(--gridSize));

  width: calc(6 * var(--gridSize));
  height: calc(6 * var(--gridSize));

  margin: calc(2 * var(--gridSize)) calc(2 * var(--gridSize)) 0 var(--gridSize);

  @media (max-width: 1023px) {
    width: calc(8 * var(--gridSize));
    height: calc(8 * var(--gridSize));
    margin: var(--gridSize) var(--gridSize) 0 var(--gridSize);
    flex: 0 0 calc(8 * var(--gridSize));
  }
}

.closeIcon {
  fill: var(--color-icon-secondary);
}
