.alerts {
  --corner-radius: var(--gridSize);

  display: flex;
  flex-direction: column;

  width: 100%;
  flex: 1 0;
  gap: calc(2 * var(--gridSize));

  margin-bottom: calc(3 * var(--gridSize));
}

.isFixed {
  --corner-radius: 0;

  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  .empty {
    overflow: hidden;

    max-height: 0;

    transition: none;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);

    opacity: 0;
  }
}

.empty {
  overflow: hidden;

  max-height: 0;

  margin-bottom: 0;

  transition: max-height 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);

  opacity: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  .shown {
    max-height: calc(100 * var(--gridSize));

    transition: none;
    transition-timing-function: cubic-bezier(0.3, 0, 1, 1);

    opacity: 1;
  }
}

.shown {
  max-height: calc(100 * var(--gridSize));

  transition: max-height 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0, 1, 1);

  opacity: 1;
}

.alert {
  --color-icon: currentcolor;

  width: 100%;

  margin: 0;
  padding: 0;

  border-radius: var(--corner-radius);
}

.success {
  --color-icon: var(--color-icon-success);
}

.error {
  --color-icon: var(--color-typography-error);
}

.warning {
  --color-icon: var(--color-icon-warning);
}

.info {
  --color-icon: var(--color-icon-successAlt);
}

div.alert {
  padding: 0;
}

.isToast .alert {
  position: relative;

  background-color: var(--color-layout-background-primary) !important;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
}

.isToast .alert::before {
  position: absolute;
  top: 0;
  left: 0;

  width: var(--gridSize);
  height: 100%;

  content: "";

  border-top-left-radius: var(--corner-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--corner-radius);

  background: var(--color-icon);
}

.alert > div {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  margin: 0;

  padding: calc(2 * var(--gridSize));
  gap: var(--gridSize);
  align-items: flex-start;
  justify-content: flex-start;
}

.alert.withTitle > div {
  flex-direction: column;
}

.isToast .alert > div {
  padding-left: calc(3 * var(--gridSize));
}

.alertIcon {
  position: relative;

  display: inline-flex;

  width: calc(3 * var(--gridSize));
  min-width: calc(3 * var(--gridSize));
  max-width: calc(3 * var(--gridSize));
  height: calc(3 * var(--gridSize));
  max-height: calc(3 * var(--gridSize));

  align-items: center;
  justify-content: center;
  fill: var(--color-icon);
}

.alertIcon > svg {
  width: 100%;
  max-width: 100%;

  color: inherit;
  fill: inherit;
}

.error .alertIcon {
  margin-top: calc(var(--gridSize) / 3);
}

.warning .alertIcon {
  margin-top: calc(var(--gridSize) / 2);
}

.warning .alertIcon > svg {
  transform: rotate(180deg);
}

.success .alertIcon {
  margin-top: calc(var(--gridSize) / 2);
}

.info .alertIcon {
  margin-top: calc(var(--gridSize) / 2);
}

.alertText {
  flex: 1 0;

  font-size: var(--typography-M-fontSize);
  line-height: var(--typography-M-lineHeight);
}

.alertClose {
  width: calc(3 * var(--gridSize));
  height: calc(3 * var(--gridSize));
  margin-top: calc(0.5 * var(--gridSize));
  margin-right: 0;
  margin-left: auto;
}

.alertHeader {
  display: flex;
  flex-direction: row;

  width: 100%;
  min-width: 100%;
  flex: 1 0;
  gap: calc(2 * var(--gridSize));
  justify-content: space-between;
}

.alertTitle {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--gridSize));
  justify-content: flex-start;
}

/* stylelint-disable-next-line a11y/no-display-none */
.noTypeIcon .alertIcon {
  display: none;
}

.noTypeIcon .alertText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
