/* stylelint-disable a11y/no-outline-none */
.container {
  position: relative;

  display: flex;
  flex-direction: row;

  width: calc(60 * var(--gridSize));
  height: calc(6 * var(--gridSize));
  justify-content: space-between;
  align-items: center;
}

.input {
  overflow: hidden;

  width: calc(100% - 12 * var(--gridSize));

  white-space: nowrap;
  text-overflow: ellipsis;

  border: transparent;
  border-radius: calc(0.5 * var(--gridSize));

  &:active,
  &:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-typography-tertiary);
  }

  &[aria-disabled] {
    color: var(--color-typography-disabled);
    background-color: var(--color-layout-tertiary-background);

    &:focus,
    &:active {
      border: none;
      box-shadow: none;
    }

    &::placeholder {
      color: var(--color-typography-disabled);
    }
  }

  &[data-size="S"] {
    font-size: var(--typography-M-fontSize);

    height: calc(4 * var(--gridSize));

    margin: var(--gridSize) calc(2 * var(--gridSize));
  }

  &[data-size="L"] {
    font-size: var(--typography-XL-fontSize);

    height: calc(6 * var(--gridSize));

    margin: calc(1.5 * var(--gridSize)) calc(2 * var(--gridSize));
  }
}

.defaultContainer {
  composes: container;

  border: 1px solid var(--color-border-primary);
  border-radius: calc(0.5 * var(--gridSize));

  &:active,
  &:focus,
  &:focus-within {
    outline: 2px solid var(--color-border-active);
    outline-width: 2px;
    outline-offset: -2px;
  }
}

.underlineContainer {
  composes: container;

  border: none;
  border-bottom: 1px solid var(--color-border-primary);
  border-radius: 0;
  box-shadow: none;

  &::placeholder {
    color: var(--color-typography-tertiary);
  }

  &:active,
  &:focus {
    border-bottom: 2px solid var(--color-border-active);
    outline: none;
  }
}

.isDisabled {
  background-color: var(--color-layout-tertiary-background);
}

.defaultContainer.error:focus-within,
.defaultContainer.isFocused.error {
  outline-color: var(--color-border-error);
}

.underlineContainer:focus-within,
.underlineContainer.isFocused {
  border-bottom: 2px solid var(--color-border-active);
  outline: none;
}

.underlineContainer.error:focus-within,
.underlineContainer.isFocused.error {
  border-bottom: 2px solid var(--color-border-error);
  outline: none;
}

.underlineContainer:focus-within .input,
.underlineContainer.isFocused .input {
  padding-bottom: 0;

  outline: none;
}

.error {
  border-color: var(--color-border-error);

  &:active,
  &:focus {
    border-color: var(--color-border-error);
  }
}
